<% if flights %>
  <% if flights.count.zero? %>
    <h4>There are no flights matching your search queries.</h4>
  <% else %>
    <h4><%= pluralize(flights.length, 'flight') %> matched your search</h4>

    <table>
      <thead>
        <tr>
          <th>Departs</th>
          <th>Arrives</th>
          <th>Date</th>
          <th>Departure</th>
          <th>Duration</th>
          <th>Passengers</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% flights.each do |flight| %>
          <tr>
            <td><%= flight.departure_airport.code %></td>
            <td><%= flight.arrival_airport.code %></td>
            <td><%= flight.formatted_date%></td>
            <td><%= flight.formatted_time%></td>
            <td><%= flight.formatted_duration %></td>
            <%= form_with url: new_booking_path, method: :get do |f| %>
              <%= f.hidden_field :flight_id, value: flight.id %>
              <td><%= f.select :passenger_count, options_for_select((1..4).each) %></td>
              <td><%= f.submit 'Book a flight' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>